---
layout: home
title: FTPGrab
excerpt: "FTPGrab is a CLI application to grab your files periodically from a remote FTP or SFTP server to your NAS, server or computer"
subtitle: Grab your files periodically from a remote FTP or SFTP server easily
bigimg: /img/home-big.jpg
---
{% include vars.html %}

<section class="home">
  <div class="container">
    <h2 class="title text-center">What is {{ site.title }} ?</h2>
    <div class="intro text-center">
      <p>
        {% include ads.html type="adsense" client="ca-pub-6761939715072275" slot="2087135436" %}
      </p>
      <p class="markdown-body">
        <strong>{{ site.title }}</strong> {% gemoji zap %} is a CLI application written in <a target="_blank" href="https://golang.org/">Go</a> to grab {% gemoji inbox_tray %} your files from a remote FTP or SFTP server to your NAS, server or computer {% gemoji computer %}.
        With Go, this app can be used across many platforms {% gemoji game_die %} and architectures. This support includes Linux, FreeBSD, macOS and Windows on architectures like amd64, i386, ARM and others.
      </p>
      <p class="markdown-body">
        Because FTPGrab is distributed {% gemoji package %} as an independent binary, it is ideal for those with a seedbox {% gemoji checkered_flag %} to grab your files periodically {% gemoji calendar %} to your Synology, Qnap, D-Link and others NAS.<br />
      </p>
      <p class="markdown-body">
        It is free and open source and always will be {% gemoji unlock %} !<br />
        To be notified of new releases you can star {% gemoji star %} the <a href="{{ var_repo_url }}">project on Github</a>.
      </p>
      <p class="markdown-body">{% include recommend.html %}</p>
    </div>
  </div>
</section>

<section class="home homenext">
  <div class="container">
    <h2 class="title text-center">How can I help ?</h2>
    <div class="intro text-center markdown-body">
      <p>
        All kinds of contributions are welcome {% gemoji raised_hands %}! The most basic way to show your support is to star {% gemoji star %} the project, or to raise issues {% gemoji speech_balloon %}.
        You can also support this project by <a target="_blank" href="https://github.com/sponsors/{{ site.github_sponsor }}"><strong>becoming a sponsor on GitHub</strong></a> {% gemoji clap %} or by making a <a target="_blank" href="https://www.paypal.me/{{ site.paypal }}">Paypal donation</a> to ensure this journey continues indefinitely! {% gemoji rocket %}
      </p>
      <p>
        <a class="donate" href="{{ site.baseurl }}/donate"><img src="{{ site.baseurl }}/img/donate.png" /></a>
      </p>
    </div>
  </div>
</section>