---
layout: home
title: FTPGrab
excerpt: "FTPGrab is a shell script to grab your files from a remote FTP server to your NAS / server / computer"
subtitle: Simple script to grab your files from a remote FTP server
bigimg: /img/home-big.jpg
---
{% include vars.html %}

<section class="home">
  <div class="container">
    <h2 class="title text-center">What is {{ site.title }} ?</h2>
    <div class="intro text-center">
      <p>
        {% include ads.html type="adsense" client="ca-pub-6761939715072275" slot="2087135436" %}
      </p>
      <p class="markdown-body">
        <strong>{{ site.title }}</strong> (formerly <i>FTP Sync</i>) is a shell script to grab <i class="fa fa-download" aria-hidden="true"></i> your files from a remote FTP server to your NAS / server / computer.<br />
        A hash is created for each downloaded file and will prevent to download it again even if it is not present in the destination folder.<br />
        You can also apply a filter to search for files with a regular expression.
      </p>
      <p class="markdown-body">
        Because this script only needs <code>wget</code>, it is ideal for those with a seedbox to synchronize with a NAS (Synology Qnap D-Link).<br />
        With the sqlite3 HASH_STORAGE method, the performance will be improved <i class="fa fa-fire" aria-hidden="true" style="color:#fa891a"></i> !
      </p>
      <p class="markdown-body">
        It is free and open source and always will be!<br />
        To be notified of new releases you can star 🌟 the <a href="{{ var_repo_url }}">project on Github</a>.
      </p>
      <p class="markdown-body">{% include recommend.html %}</p>
    </div>
  </div>
</section>

<section class="home homenext">
  <div class="container">
    <h2 class="title text-center">How can i help ?</h2>
    <div class="intro text-center markdown-body">
      <p>
        We welcome all kinds of contributions 🙌!<br />
        The most basic way to show your support is to star 🌟 the project, or to raise issues 💬<br />
        Any funds donated will be used to help further development on this project! 💝
      </p>
      <p>
        <a class="donate" href="{{ site.baseurl }}/donate"><img src="{{ site.baseurl }}/img/donate.png" /></a>
      </p>
    </div>
  </div>
</section>